In [1]:
import pandas as pd

In [2]:
#Import the Excel file and sheet and store it in sales_df
sales_df = pd.read_excel('Onyx Data -DataDNA Dataset Challenge - Christmas Sales and Trends - December 2023.xlsx', sheet_name='Onyx Data -DataDNA Dataset Chal')

In [3]:
#Print first 5 rows
sales_df.head()

,TransactionID,Date,Time,CustomerID,Age,Gender,Location,StoreID,OnlineOrderFlag,ProductID,...,PaymentType,PromotionApplied,DiscountAmount,GiftWrap,ShippingMethod,DeliveryTime,Weather,Event,CustomerSatisfaction,ReturnFlag
0,1,2020-12-24,07:27:59,441,27,Other,City_15,NaN,True,106,...,Credit Card,False,0.0,False,Standard,5.0,Snowy,NaN,5,False
1,2,2022-11-18,14:36:39,340,43,Male,City_13,NaN,True,816,...,Credit Card,True,0.0,True,Express,3.0,Sunny,NaN,2,True
2,3,2019-12-26,20:23:50,31,25,Other,City_7,92.0,False,508,...,Credit Card,False,0.0,False,NaN,NaN,Rainy,Christmas Market,4,False
3,4,2018-11-13,23:08:08,39,64,Male,City_20,100.0,False,710,...,Debit Card,False,0.0,True,NaN,NaN,Rainy,NaN,1,True
4,5,2020-12-13,04:38:08,344,26,Other,City_10,90.0,False,687,...,Cash,False,0.0,True,NaN,NaN,Sunny,Christmas Market,4,False

In [4]:
#explore the data
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TransactionID         10000 non-null  int64
 1   Date                  10000 non-null  datetime64[ns]
 2   Time                  10000 non-null  object
 3   CustomerID            10000 non-null  int64
 4   Age                   10000 non-null  int64
 5   Gender                10000 non-null  object
 6   Location              10000 non-null  object
 7   StoreID               4582 non-null   float64
 8   OnlineOrderFlag       10000 non-null  bool
 9   ProductID             10000 non-null  int64
 10  ProductName           10000 non-null  object
 11  Category              10000 non-null  object
 12  Quantity              10000 non-null  int64
 13  UnitPrice             10000 non-null  float64
 14  TotalPrice            10000 non-null  float64
 15  PaymentType           10000 non-null  object
 16  PromotionApplied      10000 non-null  bool
 17  DiscountAmount        10000 non-null  float64
 18  GiftWrap              10000 non-null  bool
 19  ShippingMethod        5418 non-null   object
 20  DeliveryTime          5418 non-null   float64
 21  Weather               10000 non-null  object
 22  Event                 7162 non-null   object
 23  CustomerSatisfaction  10000 non-null  int64
 24  ReturnFlag            10000 non-null  bool
dtypes: bool(4), datetime64[ns](1), float64(5), int64(6), object(9)
memory usage: 1.6+ MB

In [5]:
#check for null values
null_columns = sales_df.columns[sales_df.isnull().any()]
null_columns

Index(['StoreID', 'ShippingMethod', 'DeliveryTime', 'Event'], dtype='object')

In [6]:
#replace null values in store ID with 0
sales_df = sales_df.fillna({'StoreID': 0})

In [7]:
#replace null values in Shipping method with Unknown
sales_df = sales_df.fillna({'ShippingMethod': 'Unknown'})

In [8]:
#replace null values in Delivery Time with Average Delivery Time
sales_df = sales_df.fillna({'DeliveryTime': sales_df['DeliveryTime'].mean()})

In [9]:
#replace null values in Event with None
sales_df = sales_df.fillna({'Event': 'None'})

In [10]:
#check for duplicated values
duplicated_rows = sales_df.duplicated()
print(sales_df[duplicated_rows])

Empty DataFrame
Columns: [TransactionID, Date, Time, CustomerID, Age, Gender, Location, StoreID, OnlineOrderFlag, ProductID, ProductName, Category, Quantity, UnitPrice, TotalPrice, PaymentType, PromotionApplied, DiscountAmount, GiftWrap, ShippingMethod, DeliveryTime, Weather, Event, CustomerSatisfaction, ReturnFlag]
Index: []

[0 rows x 25 columns]

In [12]:
#export the cleaned data frame to a new csv
sales_df.to_csv('Sales_data_cleaned.csv')